<div class="ng-cloak" ng-include="'views/partials/nav.html'"></div>
<div class="container">
        <h2>Improving Fasting Glucose</h2>
    </div>
    </br>
    </br>

<div class="container">
            <table class="table">
                    <thead>
                      <tr>
                        <th>Metric</th>
                        <th>Value</th>
                        <th>Risk Level</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="data in vm.dataArray">
                        <tr class={{vm.gluClass}}>
                        <td><strong>Fasting Glucose:</strong></td>
                        <td>{{data.glu_value}}</td>
                        <td>{{vm.gluRisk}}</td>
                        </tr>
        </tbody>
        </table>
        </div>
    </br>
</br>
<div class="container">
    <h4><strong>Overview</strong></h4>
    Nutrition and physical activity habits will play the biggest role in improving how
    your body is capable of metabolizing glucose (sugar); the moderator of these
    changes is stress (stressed people typically don’t think they have time to exercise
    and tend to eat on-the go meals).
</br>
</br>
    <h4><strong>Nutrition</strong></h4>
    Nutritionally speaking, focus should be placed on reducing the amount of simple
    sugar consumed in a typical day. Start by avoiding (or at least reducing)
    consumption of foods that have sugars added to them, which include (but not
    limited to): pastries, soda, and candies. To avoid a cold-turkey quit, replace those
    enriched sugar foods with ones that naturally contain sugar in them, such as fruits.
    Eventually, try to reach a point where less than 5% of your total caloric intake
    comes from any form of sugar, added or otherwise.
</br>
</br>
    <h4><strong>Physical Activity</strong></h4>
    In terms of physical activity, any is better than none, more is better than less, and
    resistance training is optimal. If you are not quite ready to put on your Zumba pants
    and go to a class, start with adding more movement to your day – restrict your
    sitting by no more than 2 hours, with at least a 10 min standing period in between.
    As far as aerobic exercise, the goal is to be active at moderate intensities for 30
    minutes each day; but, don’t get discouraged if 30 minutes seems overwhelming as
    research validates that 10 minutes done 3 times carries the same benefits. The
    optimal training method for improving ability to metabolize sugars is from
    resistance training (weight training), as it is the form of exercise that relies on sugar
    as the fuel for performance; therefore, you are quite literally training your body to
    uptake and use that excess sugar in your blood. Start with light lifting with more
    repetitions – a good starting point is 2 sets of 20 repetitions with moderate weights.
    Starting out? Target at least 6 muscle groups in one session but aim for 8.
</br>
</br>
    <h4><strong>Stress Response</strong></h4>
    Last but not least, stress comes as the moderator between physical activity vs.
    inactivity and sugar-cravings vs. satiety (feeling full). During stressful times, the
    body releases a hormone that triggers the use of sugars in your blood. It may seem
    as good thing at first, but the constant activation of stress will leave you depleted of
    sugar in the blood and exhausted; in other words you are tired and hangry.
    Typically, people in stressful times don’t tend to choose healthy foods as an option,
    not because they don’t know the difference between right or wrong, but driven from
    a physiological need to replace energy sources. Minimize the stress in your life by
    avoiding situations that trigger this physiological response - that will help you curb
    the need for constant sugar and push you away from that midday crash.
</div>
</br>
</br>
<div class="container">
        <button class="btn btn-primary" ng-click="vm.resourcePage()">Return to Resources</button>
    </div>