<div class="ng-cloak" ng-include="'views/partials/nav.html'"></div>
<div class="container">
        <h2>Improving HDL Cholesterol</h2>
    </div>
    </br>
    </br>

<div class="container">
            <table class="table">
                    <thead>
                      <tr>
                        <th>Metric</th>
                        <th>Value</th>
                        <th>Risk Level</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="data in vm.dataArray">
                        <tr class={{vm.hdlClass}}>
                        <td><strong>HDL:</strong></td>
                        <td>{{data.hdl_value}}</td>
                        <td>{{vm.hdlRisk}}</td>
                        </tr>
        </tbody>
        </table>
        </div>
    </br>
</br>
<div class="container">
    <h4><strong>Overview</strong></h4>
    Controversy exists to date on the precise and most effective means to reduce LDL
    and increase HDL levels in the blood. Despite the national focus on lowering, there is
    evidence to support that very-low levels of LDL cholesterol can be harmful to health
    too. Mostly, because the foods used to replace cholesterol-containing foods are
    either rich in sugar and/or pro-inflammatory agents, leading to metabolic disorders
    such as insulin resistance and atherosclerosis.
</br>
</br>
    <h4><strong>Nutrition</strong></h4>
    Traditional approaches to reduce cholesterol, specifically LDL, include a reduction
    in saturated fat intake (such as red meats) to about 10% of all calories consumed in
    a day and to avoid any trans-fats containing food. Additionally, individual wanting to
    manage cholesterol by reducing LDL and increasing HDL should focus on consuming
    polyunsaturated fats (such as olive and coconut oil), lean meats (such a fish and
    poultry), and reduce sugar intake to no more than 5% of all calories consumed in a
    day.
</div>
</br>
</br>
<div class="container">
        <button class="btn btn-primary" ng-click="vm.resourcePage()">Return to Resources</button>
    </div>