<div class="navbar">
  <div class="container">
    <ul>
      <li><a href="#!user">My Dashboard</a></li>
      <li><a href="#!data">Enter Data</a></li>
      <li><a href="#!report">My Detailed Report</a></li>
      <li><a href="#!resources">My Resources</a></li>
      <li><a href="#!info">About</a></li>
      <div id="welcome">
      <li>Welcome, {{vm.userObject.userName}}     </li>
      <button class="btn btn-default" ng-click="vm.userService.logout()">Log Out</button>
      </div>
    </ul>
  </div>
</div>
