<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h2>Disclaimer</h2>
    <ul class="about-list">
        <li>This application is not used to diagnose, treat, or replace the advice of a medical professional. All users should follow the advice of their medical professional(s).</li>
        <li>All users submit data voluntarily and this data will not be shared with anyone or service</li>
    </ul>
    <h2>Technologies Used</h2>
    <ul class="about-list">
        <li>Node.js</li>
        <li>AngularJS</li>
        <li>Express</li>
        <li>PostgreSQL</li>
        <li>Bootstrap</li>
        <li>Chart.js</li>
    </ul>
</div>
