<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h2>Disclaimer</h2>
        This application is not used to diagnose, treat, or replace the advice of a medical professional. All users should follow the advice of their medical professional(s).
        All users submit data voluntarily and this data will not be shared with anyone or service.
    </ul>
    <h2>Technologies Used</h2>
        Node.js</br>
        AngularJS</br>
        Express</br>
        PostgreSQL</br>
        Bootstrap</br>
        Chart.js</br>
        JustGage.js</br>
</div>
