<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h2>My Detailed Report</h2>
    <section class="col-md-12" ng-repeat="data in vm.dataArray">
        <div class="col-md-8">
            <h4><strong>My CVD Score:</strong></h4>
        </div>
        <div class="col-md-4">
            <h4><strong>{{data.cvd_score}}</strong></h4>
        </div>
        <div class="col-md-12">
                <h4>Data Explanation</h4>
        </div>
        <div class="col-md-8">
                <h4><strong>Age:</strong></h4>
            </div>
            <div class="col-md-4">
                <h4><strong>{{data.age_value}}</strong></h4>
            </div>
            <div class="col-md-12">
                <h4>Data Explanation</h4>
            </div>
        <div class="col-md-8">
                    <h4><strong>Blood Pressure:</strong></h4>
                </div>
                <div class="col-md-4">
                    <h4><strong>{{data.systolic_value}}/{{data.diastolic_value}}</strong></h4>
                </div>
                <div class="col-md-12">
                    <h4>Data Explanation</h4>
                </div>
        <div class="col-md-8">
                <h4><strong>HDL:</strong></h4>
        </div>
        <div class="col-md-4">
                <h4><strong>{{data.hdl_value}}</strong></h4>
        </div>
        <div class="col-md-12">
                <h4>Data Explanation</h4>
        </div>
        <div class="col-md-8">
                <h4><strong>LDL:</strong></h4>
        </div>
        <div class="col-md-4">
                <h4><strong>{{data.ldl_value}}</strong></h4>
        </div>
        <div class="col-md-12">
                <h4>Data Explanation</h4>
        </div>
        <div class="col-md-8">
                <h4><a href="/#!/glucose">Glucose:</a></h4>
        </div>
        <div class="col-md-4">
                <h4><strong>{{data.glu_value}}</strong></h4>
        </div>
        <div class="col-md-12">
                <h4>Data Explanation</h4>
        </div>
        <div class="col-md-8">
                <h4><strong>Waist Size:</strong></h4>
        </div>
        <div class="col-md-4">
                <h4><strong>{{data.waist_value}}</strong></h4>
        </div>
        <div class="col-md-12">
                <h4>Data Explanation</h4>
        </div>
        <div class="col-md-8">
                <h4><strong>Family History:</strong></h4>
        </div>
        <div class="col-md-4">
                <h4><strong>{{data.family_history_value}}</strong></h4>
        </div>
        <div class="col-md-12">
                <h4>Data Explanation</h4>
        </div>
        <div class="col-md-8">
                <h4><strong>Physical Activity:</strong></h4>
        </div>
        <div class="col-md-4">
                <h4><strong>{{data.physical_activity_value}}</strong></h4>
        </div>
        <div class="col-md-12">
                <h4>Data Explanation</h4>
        </div>
        <div class="col-md-8">
                <h4><strong>Nicotine:</strong></h4>
        </div>
        <div class="col-md-4">
                <h4><strong>{{data.nicotine_value}}</strong></h4>
        </div>
        <div class="col-md-12">
                <h4>Data Explanation</h4>
        </div>
        <div class="col-md-8">
                <h4><strong>Sleep:</strong></h4>
        </div>
        <div class="col-md-4">
                <h4><strong>{{data.sleep_value}}</strong></h4>
        </div>
        <div class="col-md-12">
                <h4>Data Explanation</h4>
        </div>
        <div class="col-md-8">
                <h4><strong>Triglycerides:</strong></h4>
        </div>
        <div class="col-md-4">
                <h4><strong>{{data.trg_value}}</strong></h4>
        </div>
        <div class="col-md-12">
                <h4>Data Explanation</h4>
        </div>
        <div class="col-md-8">
                <h4><strong>Weight:</strong></h4>
        </div>
        <div class="col-md-4">
                <h4><strong>{{data.weight_value}}</strong></h4>
        </div>
        <div class="col-md-12">
                <h4>Data Explanation</h4>
        </div>
    </section>
</div>