<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h2>My Resources</h2>
</div>
            <div class="container" ng-if="vm.bpone">
                    <h4>{{vm.bpResourceOne}}</h4>
            </div>
            <div class="container" ng-if="vm.bptwo">
                    <h4>{{vm.bpResourceTwo}}</h4>
            </div>
            <div class="container" ng-if="vm.hdlone">
                    <h4>{{vm.hdlResourceOne}}</h4>
            </div>
            <div class="container" ng-if="vm.hdltwo">
                    <h4>{{vm.hdlResourceTwo}}</h4>
            </div>
            <div class="container" ng-if="vm.ldlone">
                    <h4>{{vm.ldlResourceOne}}</h4>
            </div>
            <div class="container" ng-if="vm.ldltwo">
                    <h4>{{vm.ldlResourceTwo}}</h4>
            </div>
            <div class="container" ng-if="vm.gluone">
                    <h4>{{vm.gluResourceOne}}</h4>
            </div>
            <div class="container" ng-if="vm.glutwo">
                    <h4>{{vm.gluResourceTwo}}</h4>
            </div>
            <div class="container" ng-if="vm.sleepone">
                    <h4>{{vm.sleepResourceOne}}</h4>
            </div>
            <div class="container" ng-if="vm.nicotineone">
                    <h4>{{vm.nicotineResourceOne}}</h4>
            </div>
            <div class="container" ng-if="vm.activityone">
                    <h4>{{vm.activityResourceOne}}</h4>
            </div>
            <div class="container" ng-if="vm.waistone">
                    <h4>{{vm.waistResourceOne}}</h4>
            </div>
</div>