<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h2>My Resources</h2>
    <section class="col-md-12">
            <div class="col-md-12">
                    <h4>{{vm.bpResourceOne}}</h4>
            </div>
            <div class="col-md-12">
                    <h4>{{vm.bpResourceTwo}}</h4>
            </div>
            <div class="col-md-12">
                    <h4>{{vm.hdlResourceOne}}</h4>
            </div>
            <div class="col-md-12">
                    <h4>{{vm.hdlResourceTwo}}</h4>
            </div>
            <div class="col-md-12">
                    <h4>{{vm.ldlResourceOne}}</h4>
            </div>
            <div class="col-md-12">
                    <h4>{{vm.ldlResourceTwo}}</h4>
            </div>
            <div class="col-md-12">
                    <h4>{{vm.gluResourceOne}}</h4>
            </div>
            <div class="col-md-12">
                    <h4>{{vm.gluResourceTwo}}</h4>
            </div>
            <div class="col-md-12">
                    <h4>{{vm.sleepResourceOne}}</h4>
            </div>
            <div class="col-md-12">
                    <h4>{{vm.nicotineResourceOne}}</h4>
            </div>
            <div class="col-md-12">
                    <h4>{{vm.activityResourceOne}}</h4>
            </div>
            <div class="col-md-12">
                    <h4>{{vm.waistResourceOne}}</h4>
            </div>
    </section>
</div>